html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.jumbotron {
  background-color: transparent;
}

/*header section*/

.header {
  height: 162px;
}

.header .container {
  margin-top: 20px;
}

.header h1 {
  font-size: 20px;
}

.header li {
  display: inline-block;
  list-style: none;
}

.nav a {
  color: #333;
  margin-bottom: -3px;
  border: 0px;
}

/*jumbotron section*/

.jumbotron span {
  color: #ffc200;
}

.jumbotron {
  text-align: left;
}

.jumbotron h1 {
  font-size: 50px;
  text-shadow: none;
  margin-bottom: 120px;
}

/*black banner section*/

.banner {
  background-color: #333;
  height: 139px;
  text-align: center;
}

.banner h2 {
  color: #fff;
  font-size: 36px;
}

.banner p {
  color: #fff;
}

/*our expertise section*/


@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}