html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

/*header section */

.header li {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 20px 30px;
  font-size: 20px;
}

.header .main {
  background-color: #e52364;
  font-size: 28px;
}

.header {
  background-color: #30627E;
  height: 80px;
}

/*jumbotron section */

.jumbotron {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/adoptly/bg.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  text-align: center;
}

.jumbotron h1 {
  color: #e52364;
  font-weight: 700;
}


.supporting {
  text-align: center;
  margin-bottom: 60px;
}

.supporting h4 {
  color: #333;
  font-size: 30px;
}


.supporting p {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  min-height: 80px;
}

.supporting .btn {
  text-decoration: none;
  border: 1px solid #30627E;;
  padding: 10px 20px;
  color: #30627E;
  width: 200px;
  font-size: 16px;
  margin: 20px;
}

.footer {
  color: #fff;
  background-color: #e52364;
  height: 80px;
}

.footer li {
  list-style: none;
  display: inline-block;
  padding-top: 20px;
  margin-left: 10px;
  padding-left: 40px;
}

.footer p {
  padding-top: 20px;
}

@media (max-width: 500px) {
  ul li {
    width: 100%;
  }
}